body{
    background-color: rgb(190, 190, 190);
    font-family: Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    padding: 0;
}


h1{
    margin: 1% 5% 0% 5%;
}

form{
    margin: 1% 5% 0% 5%;
}

.tableau{
    width : 50%;
    margin : auto ; 
    
}

table, th, td{
    margin-top: 30px;
    text-align: center;
    border:2px solid rgb(190, 190, 190);
    border-style: solid;
    background-color: #f8f9fa ;
}

.none{
    border:none;
}